<ul class="nav justify-content-end">
  <li class="nav-item">
    <button mat-button="" style="padding-top: 10px">
      <mat-icon matBadge="15" matBadgeColor="warn" routerLink="/carrito">shopping_cart</mat-icon>
    </button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Usuario</a>
  </li>
</ul>
<form class="example" style="margin:auto;max-width:300px">
  <input type="text" (keyup)="onNameKeyUp($event)" placeholder="Buscar.." name="search2">
  <button type="button" (click)="getProfile()"><i class="fa fa-search"></i></button>
</form>
