<div class="row">
  <div class="col-sm-12">
    <app-navegador-principal></app-navegador-principal>
  </div>
</div>

<div class="row" style="margin-left: 30px">

  <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="font-weight: bold">Datos de la Cuenta</div>
        <div class="card-body">
          <h5 class="card-title">Datos del usuario</h5>
          <p class="card-text">Nombre: Juan</p>
          <p class="card-text">Apellido: Mendieta</p>
          <p class="card-text">Direccion: Loja</p>
        </div>
      </div>

  </div>

  <div class="col-sm-6">
    <button type="button" (click)="completarOrden()" [routerLink]="'[/home]'" class="btn btn-success">Completar la orden</button>
  </div>
</div>

<br>

<div class="row" style="margin-left: 30px">

  <div class="col-sm-6">
      <div class="card">
        <div class="card-header" style="font-weight: bold">Factura</div>
        <div class="card-body">
          <h5 class="card-title">Datos del cliente</h5>
          <p class="card-text">Nombre: {{datosFactura.nombre}}</p>
          <p class="card-text">Apellido: {{datosFactura.apellido}}</p>
          <p class="card-text">Direccion: {{datosFactura.direccion}}</p>
        </div>
      </div>
  </div>

  <div class="col-sm-6">
    <app-modal-factura></app-modal-factura>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Editar Datos</button>
  </div>

</div>

<div class="row"  style="margin-left: 30px">
  <div class="col-sm-2" *ngFor="let info of listaCompra; let indice = index" style="margin-right: 20px; margin-top: 20px">
    <div class="card" style="width: 250px">
      <img class="card-img-top" src={{info.imagenJuego}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{info.nombreJuego}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Plataformas: {{info.plataforma}}</h6>
        <button type="button" (click)="eliminarItem(indice, info.id)" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="row"  style="margin-left: 30px">
  <div class="col-sm-2"style="margin-right: 20px; margin-top: 20px">
    <div class="card" style="width: 250px">
      <div class="card-body">
        <h5 class="card-title">Total: {{total}}</h5>
      </div>
    </div>
  </div>
</div>

