<div class="row">

  <div class="col-sm-12">

    <h2 style="padding-left: 40px">Desarrolladoras:</h2>

  </div>

</div>

<div class="row"  style="margin-left: 20px">
  <div class="col-sm-2" *ngFor="let info of resultadosDesa; let indice = index" style="margin-right: 20px; margin-top: 20px">
    <div class="card" style="width: 200px;">
      <img class="card-img-top" src={{info.imagenDesarrolladora}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{info.nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ubicacion: {{info.ubicacion}}</h6>
        <button type="button" [routerLink]="['/desarrolladora', info.id]" class="btn btn-primary">Detalles</button>
      </div>
    </div>
  </div>
</div>


