<div class="row">

  <div class="col-sm-12">

    <ul class="nav justify-content-end" style="margin-right: 20px">
      <li class="nav-item">
        <button type="button" class="btn btn-light" style="padding-top: 15px">
          <mat-icon [matBadge]="items.length" matBadgeColor="warn" routerLink="/carrito">shopping_cart</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light" style="padding-top: 15px">
          <mat-icon matBadgeColor="warn" routerLink="/home">account_box</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
