<div class="row">

  <div class="col-sm-6">

    <img [routerLink]="'[/home]'" src="http://cdn2.gamedots.mx/media/gd/gameplanet-logo.png" alt="" style="height: 50px; margin-left: 20px">

  </div>

  <div class="col-sm-6">

    <ul class="nav justify-content-end" style="margin-right: 20px">
      <li class="nav-item">
        <button type="button" class="btn btn-light" style="padding-top: 15px">
          <mat-icon [matBadge]="items.length" matBadgeColor="warn" routerLink="/carrito">shopping_cart</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light" style="padding-top: 15px">
          <mat-icon matBadgeColor="warn" routerLink="/home">account_box</mat-icon>Juan Pablo Mendieta
        </button>
      </li>
    </ul>
  </div>
</div>
